#
# pin constraints
#
NET BTNs_5Bits_TRI_IO[0] LOC = "P16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[1] LOC = "R16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[2] LOC = "N15"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[3] LOC = "R18"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[4] LOC = "T18"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_IO[0] LOC = "T22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[1] LOC = "T21"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[2] LOC = "U22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[3] LOC = "U21"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[4] LOC = "V22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[5] LOC = "W22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[6] LOC = "U19"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[7] LOC = "U14"  |  IOSTANDARD = "LVCMOS33";
NET SWs_8Bits_TRI_IO[0] LOC = "F22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[1] LOC = "G22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[2] LOC = "H22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[3] LOC = "F21"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[4] LOC = "H19"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[5] LOC = "H18"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[6] LOC = "H17"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[7] LOC = "M15"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

NET UART_RX LOC = "Y10"  | IOSTANDARD = "LVCMOS33";  # "JA3"
NET UART_TX LOC = "AA11" | IOSTANDARD = "LVCMOS33";  # "JA2"

#NET UART2_RX LOC = "U5"   | IOSTANDARD = "LVCMOS33";  # "JD4_N"
#NET UART2_TX LOC = "U6"   | IOSTANDARD = "LVCMOS33";  # "JD4_P"

NET JB1           LOC = "W12"  | IOSTANDARD="LVCMOS33";  # "JB1" #security in
NET JB2           LOC = "W11"  | IOSTANDARD="LVCMOS33";  # "JB2" #security out

NET JC1_P         LOC = "AB7"  | IOSTANDARD="LVCMOS33";  # "JC1_P" #control 1 out
NET JC1_N         LOC = "AB6"  | IOSTANDARD="LVCMOS33";  # "JC1_N" #control 2 out
NET JC2_P         LOC = "Y4"   | IOSTANDARD="LVCMOS33";  # "JC2_P" #control 3 out

NET JD1_P         LOC = "V7"   | IOSTANDARD="LVCMOS33";  # "JD1_P" #control 1 out
NET JD1_N         LOC = "W7"   | IOSTANDARD="LVCMOS33";  # "JD1_N" #control 2 out
NET JD2_P         LOC = "V5"   | IOSTANDARD="LVCMOS33";  # "JD2_P" #control 3 out